.mainContainer
{
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;
}

.titleContainer
{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.text-info
{
    display: flex;
    justify-content:center;
    align-items: center;
    margin-bottom: 1rem;
}

.buttonContainer
{
    display: flex;
    justify-content:center;
    align-items: center;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.inputContainer > .errorLabel {
    color: red;
    font-size: 12px;
}
