.inputBox {
	height: 5vh;
	font-size: large;
	border-radius: 8px;
	border: 1px solid grey;
	padding-left: 8px;
}

.errorLabel {
    color: red;
    font-size: 12px;
}

.container {
	margin-top: 50%
}

.mainContainer
{
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;
}
