
.inputBox {
	height: 5vh;
	font-size: large;
	border-radius: 8px;
	border: 1px solid grey;
	padding-left: 8px;
}

.errorLabel {
    color: red;
    font-size: 12px;
}

.container {
	margin-top: 25%
}
